#breadcrumbs{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;

}

#breadcrumbs-spacer {
    border-right: 10rem solid #fff;
}

div.related > ul {
    padding-left: 0;
}

body {
    padding-top: var(--pst-header-height);
}