# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, the PyAnsys Core team will be requested for
# review when someone opens a pull request.
*       @ansys/pyansys-core
