
include pyansys_sphinx_theme/layout.html
include pyansys_sphinx_theme/docs-navbar.html
include pyansys_sphinx_theme/theme.conf

graft pyansys_sphinx_theme/_templates
graft pyansys_sphinx_theme/static