[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-sphinx-theme"
version = "0.16.2"
description = "A theme devised by ANSYS, Inc. for Sphinx documentation."
readme = "README.rst"
requires-python = ">=3.9,<4"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: Sphinx",
    "Framework :: Sphinx :: Theme",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]
dependencies = [
    "Sphinx>=4.2.0",
    "pydata-sphinx-theme>=0.14,<0.15",
    "Jinja2>=3.1.2",
    "importlib-metadata>=4.0",
]

[project.optional-dependencies]
autoapi = [
    "sphinx-autoapi==3.1.0",
    "sphinx-design==0.5.0",
    "sphinx-jinja==2.0.2",
]
doc = [
    "numpydoc==1.7.0",
    "Sphinx==7.3.7",
    "sphinx-copybutton==0.5.2",
    "sphinx-notfound-page==1.0.1",
    "sphinx-design==0.5.0",
    "requests==2.32.2",
    "sphinx-jinja==2.0.2",
    "PyGitHub==2.3.0",
]

[project.entry-points."sphinx.html_themes"]
ansys_sphinx_theme = "ansys_sphinx_theme"

[tool.flit.module]
name = "ansys_sphinx_theme"

[tool.flit.sdist]
include = [
    "src/ansys_sphinx_theme/theme/ansys_sphinx_theme/layout.html",
    "src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/breadcrumbs.html",
    "src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf",
    "src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/",
    "src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/",
]

[project.urls]
Home = "https://sphinxdocs.ansys.com/"
Source = "https://github.com/ansys/ansys-sphinx-theme"
Tracker = "https://github.com/ansys/ansys-sphinx-theme/issues"
Documentation = "https://sphinxdocs.ansys.com/"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src"]

[tool.coverage.run]
source = ["src"]

[tool.coverage.report]
show_missing = true


[tool.towncrier]
directory = "doc/changelog.d"
filename = "doc/source/changelog.rst"
template = "doc/changelog.d/changelog_template.jinja"
start_string = ".. towncrier release notes start\n"
title_format = "`{version} <https://github.com/ansys/ansys-sphinx-theme/releases/tag/v{version}>`_ - {project_date}"
issue_format = "`#{issue} <https://github.com/ansys/ansys-sphinx-theme/pull/{issue}>`_"

[[tool.towncrier.type]]
directory = "added"
name = "Added"
showcontent = true

[[tool.towncrier.type]]
directory = "changed"
name = "Changed"
showcontent = true

[[tool.towncrier.type]]
directory = "fixed"
name = "Fixed"
showcontent = true

[[tool.towncrier.type]]
directory = "dependencies"
name = "Dependencies"
showcontent = true

[[tool.towncrier.type]]
directory = "miscellaneous"
name = "Miscellaneous"
showcontent = true


