[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "pyansys-sphinx-theme"
dynamic = ["version", "description"]
readme = "README.rst"
requires-python = ">=3.5"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: Sphinx",
    "Framework :: Sphinx :: Theme",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]
dependencies = [
    "Sphinx>=4.0.0",
    "pydata-sphinx-theme==0.8.1",
    "Jinja2>=3.1.2",
]

[project.entry-points."sphinx.html_themes"]
pyansys_sphinx_theme = "pyansys_sphinx_theme"

[tool.flit.module]
name = "pyansys_sphinx_theme"

[tool.flit.sdist]
include = [
    "src/pyansys_sphinx_theme/layout.html",
    "src/pyansys_sphinx_theme/breadcrumbs.html",
    "src/pyansys_sphinx_theme/docs-navbar.html",
    "src/pyansys_sphinx_theme/theme.conf",
    "src/pyansys_sphinx_theme/_templates/",
    "src/pyansys_sphinx_theme/static/",
]

[project.urls]
Home = "https://docs.pyansys.com/"
Source = "https://github.com/pyansys/pyansys-sphinx-theme"
Tracker = "https://github.com/pyansys/pyansys-sphinx-theme/issues"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["src"]

[tool.coverage.report]
show_missing = true
