/* Changes associated with the Ansys Sphinx Theme */
/* for pydata-sphinx-theme */
@import "../styles/pydata-sphinx-theme.css";
@import "ansys-sphinx-theme-variable.css";

/*
*
* _secondary sidebar and primary sidebars
* _sidebar-primary.scss
*
*/
.bd-sidebar-primary,
.bd-sidebar-secondary {
  max-height: calc(100vh - var(--pst-header-height) - 1vh);
}

.bd-toc {
  padding-top: 5em;
}
nav.bd-links p.bd-links__title,
nav.bd-links p.caption {
  font-size: var(--ast-font-sidebar-header);
  color: var(--ast-sidebar-primary-text);
}

nav.bd-links li > a {
  font-size: var(--ast-font-sidebar-header);
  color: var(--ast-sidebar-primary-text);
  text-decoration: none;
  line-height: var(--ast-global-line-height);
}

nav.bd-links li > a:hover {
  color: var(--ast-sidebar-primary-text);
  background: var(--ast-sidebar-hover-background);
  box-shadow: 1px 1px 2px 0px var(--ast-sidebar-active-background);
  border-radius: 4px;
  text-decoration: none;
}

nav.bd-links li > a.active,
nav.bd-links li > a.current {
  color: var(--ast-color-text);
  background: var(--ast-sidebar-active-background);
  text-decoration: none;
  box-shadow: 1px 1px 2px 0px var(--ast-sidebar-active-background);
  border-radius: 4px;
  font-weight: bold;
}
/**
* secondary sidebar
* _toc-inpage.scss
*/
.toc-entry a.nav-link {
  color: var(--ast-sidebar-primary-text);
  line-height: var(--ast-global-line-height);
}

.toc-entry a.nav-link.active,
.toc-entry a.nav-link.current {
  color: var(--ast-color-text);
  background: var(--ast-sidebar-active-background);
  text-decoration: none;
  box-shadow: 1px 1px 2px 0px var(--ast-sidebar-active-background);
  border-radius: 4px;
  font-weight: bold;
}

.toc-h2 {
  font-size: 14px;
  padding: 0.05em;
}

.toc-h3 {
  font-size: 14px;
}

.toc-h4 {
  font-size: 14px;
}

.toc-entry a.nav-link:hover {
  color: var(--ast-sidebar-primary-text);
  background: var(--ast-sidebar-hover-background);
  box-shadow: 1px 1px 2px 0px var(--ast-sidebar-active-background);
  border-radius: 4px;
  text-decoration: none;
}

/* _base.scss related changes */

.editthispage a {
  color: var(--pst-color-text-base);
}

/**
*
* Dropdown button
* _header.scss
*
*/

.bd-header ul.navbar-nav > li.nav-item > .nav-link {
  color: var(--ast-navbar-color);
  font-weight: bold;
}

.bd-header ul.navbar-nav > li.nav-item > .nav-link:hover::before {
  color: var(--ast-navbar-hover-color);
  font-weight: bold;
  border-bottom: none;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.08));
}

.bd-header ul.navbar-nav > li.nav-item > .nav-link:hover {
  color: var(--ast-navbar-hover-color);
  border-color: var(--ast-navbar-hover-color);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.08));
  font-weight: bold;
}

.bd-header ul.navbar-nav > li.nav-item > .nav-link:active {
  color: var(--ast-navbar-active-color);
  border-color: var(--ast-navbar-active-border-color);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
  font-weight: bold;
}

.bd-header ul.navbar-nav > li.nav-item.current > .nav-link::before,
::after {
  color: var(--ast-navbar-active-color);
  border-bottom: 3px solid var(--ast-navbar-active-border-color);
}

html .pst-navbar-icon {
  color: var(--ast-navbar-color);
}

html .pst-navbar-icon:hover {
  color: var(--ast-navbar-hover-color);
  border-color: var(--ast-navbar-hover-color);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.08));
}

a.nav-link.pst-navbar-icon {
  color: var(--ast-navbar-color);
  font-weight: bold;
}

a.nav-link.pst-navbar-icon:hover {
  color: var(--ast-navbar-hover-color);
  border-color: var(--ast-navbar-hover-color);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.08));
  font-weight: bold;
}

a.nav-link.pst-navbar-icon:active {
  color: var(--ast-navbar-active-color);
  border-color: var(--ast-navbar-active-border-color);
  font-weight: bold;
}

/* dropdown button after 5 sections */

.dropdown-item:hover {
  font-weight: bold;
  background-color: transparent;
}

/**
* Switcher button
*/
button.btn.version-switcher__button {
  background-color: transparent;
  border-color: var(--ast-navbar-active-border-color);
  color: var(--ast-navbar-color);
  font-size: var(--ast-nav-link-font-size);
  font-weight: bold;
}

button.btn.version-switcher__button:hover {
  border-color: var(--ast-navbar-active-border-color);
  color: var(--ast-navbar-hover-color);
  font-weight: bold;
}

.version-switcher__menu a.list-group-item:hover {
  background-color: transparent;
  border-color: var(--ast-navbar-active-border-color);
  color: var(--ast-navbar-hover-color);
  font-size: var(--ast-nav-link-font-size);
  font-weight: bold;
}

.version-switcher__menu a.list-group-item {
  background-color: transparent;
  border-color: var(--pst-color-border);
  color: var(--ast-navbar-color);
  font-size: var(--ast-nav-link-font-size);
  font-weight: bold;
}

/**
* _search.scss
* Search bar
*/

.search-button-field {
  border-color: var(--ast-navbar-active-border-color);
  font-size: var(--ast-nav-link-font-size);
  background-color: transparent;
  color: var(--ast-navbar-color);
}

.search-button-field:hover {
  border-color: var(--ast-navbar-active-border-color);
  color: var(--ast-navbar-hover-color);
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

/*
####################################################
Side column size (first and second column from left)
####################################################
*/

.col-md-3 {
  flex: 0 0 20%;
  max-width: 20%;
}

a.headerlink {
  color: #222;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1600px;
  }
}

/*
  ############################################
  Navigation column (according to side column)
  _header.scss
  ############################################
  */
.bd-header .navbar-header-items__start {
  width: fit-content;
  padding-right: 3rem;
}
/* header logo*/

.bd-main .bd-content {
  display: flex;
  height: 100%;
  justify-content: end;
}

.bd-main .bd-content .bd-article-container .bd-article {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

/*#############################
Bold font weight for **code**
#############################
*/

b,
strong {
  font-weight: 900;
}

/* make the github logo white */

html[data-theme="light"] #pst-back-to-top {
  background-color: var(--pst-color-link);
}

/* _code.scss related changes */
.docutils {
  font-family: var(--pst-font-family-monospace);
  font-weight: 500;
}

/* _api.scss related changes */

.sig-prename.descclassname {
  display: none;
} /* hide the class 'descclassname' for autoapi */

.sig {
  font-family: "Consolas", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", monospace;
}

.sig-name.descname {
  color: var(--pst-color-inline-code);
}

.sig-name {
  color: var(--pst-color-sig);
}

/* highlighted objects inside the api reference */
dt:target,
span.highlighted {
  background-color: var(--pst-color-codecell) !important;
}

/* Increase empty-space around classes, methods, properties, etc. that are descendants
 of other items */
dl.class dl.py {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

/*
##############################
image padding before and after
##############################
*/

img {
  padding-top: 1em;
  padding-bottom: 1em;
}

html[data-theme="dark"] .bd-content img:not(.only-dark):not(.dark-light) {
  background: transparent;
}

img.logo__image {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/*
##########################
Nav-bar entity right side.
##########################
*/

.list-group-item.active {
  z-index: 2;
  color: var(--pst-color-text-base) !important;
}

/*
###########
admontions
###########
*/

div.deprecated {
  border-color: var(--pst-color-danger);
  background-color: #dc354514;
}

div.deprecated,
div.versionadded,
div.versionchanged {
  background-color: transparent;
}

.admonition,
div.admonition {
  background-color: var(--pst-color-on-surface);
}

/* Select only divisions that contain a dataframe, with enough specificity to override pydata css */
div.nboutput
  div.output_area.rendered_html.docutils.container:has(table.dataframe) {
  background-color: transparent;
}

aside.topic > p {
  color: var(--pst-color-text-base) !important;
}

/*
#################
search hide match
#################
*/

div#searchbox p.highlight-link a {
  background-color: var(--pst-color-search-match);
}

.header-article__inner {
  padding: 0 1rem;
}

/**
*
* _links.scss
*/

/**
* links on paragraphs
*/
a {
  color: var(--ast-color-link);
  text-decoration: none;
}

a:active {
  color: var(--ast-color-link-active);
}

a:hover,
a:active:hover,
a:visited:hover {
  color: var(--ast-color-link-hover);
  text-decoration: underline;
}

a:visited {
  color: var(--ast-color-link-visited);
}
