/*
########
Table
########
*/

/** Table
*
* the table variables.
*/

.table {
  --bs-table-bg: var(--pst-color-table-background);
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  vertical-align: middle;
  color: var(--pst-color-text-base);
  /* Disabling scroll bars */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  padding: 0px, 16px;
}

/**
* Table header
*/
th {
  font-size: var(--pst-table-font-size);
  line-height: 40px;
  color: #686868 !important;
}

tr {
  font-size: var(--pst-table-font-size);
  line-height: 56px;
  color: #353535;
}

/* tr {
  background-color: var(--pst-color-background);
}

th {
  background-color: rgb(255, 183, 27, 0.55);
}

tr:nth-child(odd),
tr:nth-child(even) {
  background-color: var(--pst-color-background);
}

.table tr:hover td {
  background-color: var(--pst-color-table-hover);
} */

/* div.rendered_html table.dataframe td {
  color: var(--pst-color-text-base);
} */

/*
  ###############
  Table-centered
  ################
  Same as table but with horizontally centered text.

  see examples.
  */
/* table.table-centered {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;

  overflow-y: scroll;
  scrollbar-width: none; /
  -ms-overflow-style: none;
} */

/* .table-centered tr {
  background-color: var(--pst-color-background);
  text-align: center;
}

.table-centered th {
  background-color: rgb(255, 183, 27, 0.55);
  text-align: center;
}

.table-centered tr:nth-child(odd),
.table-centered tr:nth-child(even) {
  text-align: center;
  background-color: var(--pst-color-background);
}

.table-centered tr:hover td {
  background-color: var(--pst-color-table-hover);
  text-align: center;
}

table.dataframe {
  table-layout: auto !important;
} */

/*
  ###################
  longtable-centered
  ####################
  */
/*
table.longtable-centered {
  text-align: center;
}

.longtable-centered tr {
  text-align: center;
}

.longtable-centered th {
  text-align: center;
}

.longtable-centered tr:nth-child(odd) {
  text-align: center;
}

.longtable-centered tr:nth-child(even) {
  text-align: center;
}

table.longtable-centered tr:hover td {
  background-color: var(--pst-color-table-hover);
  text-align: center;
} */

/*
  #########
  DataFrame
  #########
  */

/* .dataframe tr {
  background-color: var(--pst-color-background);
}

.dataframe tr:nth-child(odd),
.dataframe tr:nth-child(even) {
  background-color: var(--pst-color-background) !important;
}

.dataframe tr:hover td {
  background-color: var(--pst-color-table-hover);
} */

/*
  ###################
  DataFrame-centered
  ###################
  */

/* .dataframe-centered tr {
  background-color: var(--pst-color-background);
  text-align: center;
}

.dataframe-centered tr:nth-child(odd) {
  background-color: var(--pst-color-background) !important;
  text-align: center;
}

.dataframe-centered tr:nth-child(even) {
  background-color: var(--pst-color-border);
  text-align: center;
}

.dataframe-centered tr:hover td {
  background-color: var(--pst-color-border);
  text-align: center;
}

.dataframe thead th {
  text-align: center;
} */

/*
  ############
  data table
  ############
  */
/*
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: var(--pst-color-text-base) !important;
}

.dataTables_wrapper,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: var(--pst-color-text-base) !important;
}

table.dataTable tbody th,
table.dataTable tbody td {
  background: var(--pst-color-background);
}

label {
  color: var(--pst-color-text-base);
} */

/* .table > :not(caption) > * > * {
  background-color: transparent !important;
  color: var(--pst-color-text-base) !important;
} */
