/*
########
Table
########
*/

/** Table
*
* the table variables.
*/

.table {
  --bs-table-bg: var(--pst-color-table-background);
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  vertical-align: middle;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0px 16px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  background-color: var(--pst-color-table-background);
  font-family: var(--pst-font-family-base);
  font-size: var(--pst-table-font-size);
}

.table > :not(caption) > * > * {
  padding: 0px 16px;
}

/**
* Table header
*/
th {
  line-height: 40px;
  color: var(--pst-color-table-header-text) !important;
}

tr {
  line-height: 56px;
  color: var(--pst-color-table-cell-text);
}

tbody :hover,
td :hover,
tfoot :hover,
th :hover,
thead :hover,
tr :hover {
  background-color: var(--pst-color-table-row-hover-bg);
  font-size: var(--pst-table-enabled-font-size);
}

.table :hover {
  background-color: var(--pst-color-table-row-hover-bg);
  font-size: var(--pst-table-enabled-font-size);
}

.table :active {
  background-color: var(--pst-color-table-active-bg);
  font-size: var(--pst-table-enabled-font-size);
}
/**
* Table dataframes
*/

table.dataframe tr {
  font-size: var(--pst-table-font-size);
  line-height: 56px;
  color: var(--past-color-table-cell-text);
}

table.dataframe th {
  font-size: var(--pst-table-font-size);
  line-height: 40px;
  color: var(--pst-color-table-header-text) !important;
}

table.dataframe :hover {
  background-color: var(--pst-color-table-row-hover-bg);
  font-size: var(--pst-table-enabled-font-size);
}

table.dataframe :active {
  background-color: var(--pst-color-table-active-bg);
  font-size: var(--pst-table-enabled-font-size);
}

table.dataframe {
  background-color: var(--pst-color-table-background);
}
