

// Breakpoint variables

$bs-breakpoint-lg: 1040px;
$bs-breakpoint-md: 720px;
$bs-breakpoint-sm: 540px;
$bs-breakpoint-xs: 0px;
$bs-breakpoint-xl: 1200px;
$bs-breakpoint-xxl: 1600px;

$article-width: 1000px;
$sidebar-primary-width: 75%;
$sidebar-primary-max-width: 350px;
