/* Provided by the Sphinx base theme template at build time */
@import "ansys-sphinx-theme-variable";
@import "pydata-sphinx-theme-custom";
@import "breadcrumbs";
@import "ast-search";
@import "sphinx-design";
@import "table-custom";
@import "sphinx-gallery";
@import "whatsnew";
@import "nbsphinx";

/*
* Code cell
*/
.xref.std.std-ref {
  color: var(--pst-color-inline-code);
  font-family: "Inconsolata";
  font-weight: var(--ast-font-weight-regular);
  font-style: italic;
  padding: 0.1rem 0.25rem;
  padding-top: 0.1rem;
  padding-right: 0.25rem;
  padding-bottom: 0.1rem;
  padding-left: 0.25rem;
  font-size: 90%;
  background-color: var(--pst-color-on-surface);
  border: 1px solid var(--pst-color-border);
  border-radius: 0.25rem;
}

/* Reduce empty-space around Notes and Examples headings */
p.rubric {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/*
* Autosummary
*/

.autosummary tr:nth-child(odd),
.autosummary tr:nth-child(even) {
  background-color: var(--pst-color-background);
}

/*
* Navbar styles
*/

.bd-navbar-elements {
    text-align: center;
}

/* Back to top button */
#pst-back-to-top {
    background: var(--ast-color-active-text);
    color: var(--pst-color-on-surface);
    opacity: 0.7;
}

#pst-back-to-top:hover {
    background: var(--ast-color-text);
    color: var(--pst-color-on-surface);
    font-weight: bold;
    opacity: 1;
}