{% for category, val in sections["Whatsnew"].items() %}
{{ category }}
{% set underline = '^' * category|length %}
{{ underline }}

{%- for text, values in val.items() -%}
{# get first line of text #}
{% set heading = text.split('\n')[0] -%}
{# get remaining text #}
{% set remaining_text = text.split('\n')[1:] %}
{# join remaining text #}
{% set remaining_text = remaining_text|join('\n') %}

**{{ heading }}**

{{ remaining_text }}

  .. tab-item:: {{ heading}}

      .. list-table::
          :header-rows: 0
          :widths: auto

            {{ remaining_text|indent(9) }}

{% endfor %}
{% endfor %}

{% if sections[""] %}
{% for category, val in definitions.items() if category in sections[""] %}

  .. tab-item:: {{ category }}

      .. list-table::
          :header-rows: 0
          :widths: auto

            {%- for text, values in sections[""][category].items() %}
            * - {{ text }}
              - {{ values|join(', ') }}
            {%- endfor %}

{{ definitions[category]['name'] }}
{% set underline = '^' * definitions[category]['name']|length %}
{{ underline }}

{% for text, values in sections[""][category].items() %}
- {{ text }} {{ values|join(', ') }}
{% endfor %}

{% endfor %}
{% else %}
No significant changes.


{% endif %}
