@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');


.docutils {
    color: #C89211;
    font-family: "Source Code Pro", "Courier New", monospace;
    font-weight: bold;
}

.sig-prename {
    color: #C89211;
    font-family: 'Source Sans Pro', sans-serif;
}

.sig-name.descname {
    color: #C89211;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

.sig-name {
    color: #C89211;
    font-family: 'Source Sans Pro', sans-serif;
}

/* make the github logo white */
i.fa-github-square:before {
    color: #ffffff !important;
}

/* Increase empty-space around classes, methods, properties, etc. that are descendants
 of other items */
dl.class dl.py {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

/* Reduce empty-space around Notes and Examples headings */
p.rubric {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}



/*
###############
   table
###############
*/

table {
  width:100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  vertical-align: middle;

  /* Disabling scroll bars */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

tr {
  background-color: white;
}

th {
  background-color: rgb(255, 183, 27, 0.55);
}

tr:nth-child(odd){
  background-color: white;
}

tr:nth-child(even){
background-color: rgb(255, 183, 27, 0.15);
}

/*
#####################
   Table-centered
#####################
Same as table but with horizontally centered text.


Use as:

.. table::
  :class: table-centered

  +---------------------------+-------------------+
  |                           | MAPDL Command     |
  +===========================+===================+
  | **GUI commands**          | * ``*ASK``        |
  |                           +-------------------+
  |   ...
  |   ...


*/
table.table-centered {
  width:100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;

  /* Disabling scroll bars */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

.table-centered tr {
  background-color: white;
  text-align: center;
}

.table-centered th {
  background-color: rgb(255, 183, 27, 0.55);
  text-align: center;
}

.table-centered tr:nth-child(odd){
  text-align: center;
  background-color: white;
}

.table-centered tr:nth-child(even){
  background-color: rgb(255, 183, 27, 0.15);
  text-align: center;
}


/*
###############
   longtable
###############
*/

table.longtable tr:hover td {
  background-color: rgb(255, 183, 27, 0.6);
}

/*
#########################
   longtable-centered
#########################

Use as:


.. table::
  :class: longtable-centered

  +---------------------------+-------------------+
  |                           | MAPDL Command     |
  +===========================+===================+
  | **GUI commands**          | * ``*ASK``        |
  |                           +-------------------+
  |   ...
  |   ...

*/

table.longtable-centered {
  text-align: center;
  }

.longtable-centered tr {
  text-align: center;
}

.longtable-centered th {
  text-align: center;
}

.longtable-centered tr:nth-child(odd){
  text-align: center;
}

.longtable-centered tr:nth-child(even){
  text-align: center;
}

table.longtable-centered tr:hover td {
  background-color: rgb(255, 183, 27, 0.6);
  text-align: center;
}

/*
##############
   DataFrame
##############
Not sure why the odd columns (white) are rendered gray.

I do not think we will be able to call this class.
*/

.dataframe tr{
    background-color: white;
  }

.dataframe tr:nth-child(odd){
    background-color: white !important;
  }

.dataframe tr:nth-child(even){
  background-color: rgb(255, 183, 27, 0.15);
}

.dataframe tr:hover td {
  background-color: rgb(255, 183, 27, 0.6);
}


/*
#########################
   DataFrame-centered
#########################
Not sure why the odd columns (white) are rendered gray.

I do not think we will be able to call this class.
*/

.dataframe-centered tr{
    background-color: white;
    text-align: center;
  }

.dataframe-centered tr:nth-child(odd){
    background-color: white !important;
    text-align: center;
  }

.dataframe-centered tr:nth-child(even){
  background-color: rgb(255, 183, 27, 0.15);
  text-align: center;
}

.dataframe-centered tr:hover td {
  background-color: rgb(255, 183, 27, 0.6);
  text-align: center;
}

.dataframe thead th {
    text-align: center;
}



/*
###############
   Autosummary
###############
*/
/* .autosummary {
        text-align: left;
        } */

.autosummary  tr:nth-child(odd){
    background-color: white;
  }

.autosummary tr:nth-child(even){
  background-color: white;
}

/*
##############
   Breadcrumbs
##############
*/

#breadcrumbs{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    border-bottom: 1px solid rgba(0,0,0,.1);

}

#breadcrumbs-spacer{
  border-right: 1px solid rgba(0,0,0,.1);
}

div.related > ul {
    padding-left: 0;
}

body {
    padding-top: var(--pst-header-height);
}